@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
.hidden-bulk-sms {
  display: none !important;
}

/* theme
primary - #1B1030
secondary - #25124A
tertirary - #5F26C9

helper-primary - #7353B0
helper-secondary - #4F3187
*/

@layer base {
  :root {
    --background: #ffffff;

    --background-support: #e0fbfc;

    --backgroundOverlay: #000000;
    --foreground: #1a0f2b;

    --card: #ffffff;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #2b2d42;
    --primary-foreground: #000000;

    --text--primary: #1a0f2b;

    --secondary: #333745;
    --secondary-foreground: #1a0f2b;

    --tertirary: #a1a3b3;
    --tertirary-foreground: #1a0f2b;

    --helper-primary: #d67ab1;
    --helper-primary-foreground: #1a0f2b;

    --helper-secondary: #60435f;
    --helper-secondary-foreground: #1a0f2b;

    --muted: #1a0f2b;
    --muted-foreground: #a0a0a0;

    --accent: #1a0f2b;
    --accent-foreground: #1a0f2b;

    --destructive: #a14c4c;
    --destructive-foreground: #1a0f2b;

    --border: #1a0f2b;

    --input: #1a0f2b;

    --ring: #25124a;

    --chart-1: #f2c94c;
    --chart-2: #2bc3a0;
    --chart-3: #4f5c5e;
    --chart-4: #b3c43c;
    --chart-5: #e4d84c;
    --radius: 0.5rem;
    --sidebar-background: #fff;
    --sidebar-foreground: #1a0f2b;

    --sidebar-primary: #1a0f2b;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #e0fbfc;
    --sidebar-accent-foreground: #1a0f2b;
    --sidebar-border: #e0e0e0;
    --sidebar-ring: #d0d0d0;
  }
  .dark {
    --background: #ffffff;

    --background-support: #e0fbfc;

    --backgroundOverlay: #000000;
    --foreground: #1a0f2b;

    --card: #ffffff;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #2b2d42;
    --primary-foreground: #000000;

    --text--primary: #1a0f2b;

    --secondary: #333745;
    --secondary-foreground: #1a0f2b;

    --tertirary: #a1a3b3;
    --tertirary-foreground: #1a0f2b;

    --helper-primary: #d67ab1;
    --helper-primary-foreground: #1a0f2b;

    --helper-secondary: #60435f;
    --helper-secondary-foreground: #1a0f2b;

    --muted: #1a0f2b;
    --muted-foreground: #a0a0a0;

    --accent: #1a0f2b;
    --accent-foreground: #1a0f2b;

    --destructive: #a14c4c;
    --destructive-foreground: #1a0f2b;

    --border: #1a0f2b;

    --input: #1a0f2b;

    --ring: #25124a;

    --chart-1: #f2c94c;
    --chart-2: #2bc3a0;
    --chart-3: #4f5c5e;
    --chart-4: #b3c43c;
    --chart-5: #e4d84c;
    --radius: 0.5rem;
    --sidebar-background: #fff;
    --sidebar-foreground: #1a0f2b;

    --sidebar-primary: #1a0f2b;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #e0fbfc;
    --sidebar-accent-foreground: #1a0f2b;
    --sidebar-border: #e0e0e0;
    --sidebar-ring: #d0d0d0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-thin {
  scrollbar-width: thin;
}
