@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* theme
primary - #1B1030
secondary - #25124A
tertirary - #5F26C9

helper-primary - #7353B0
helper-secondary - #4F3187
*/

@layer base {
  :root {
    --background: #ffffff;

    --background-support: #f8f9fa;

    --backgroundOverlay: #000000;
    --foreground: #1a0f2b;

    --card: #ffffff;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #1a0f2b;
    --primary-foreground: #000000;

    --secondary: #3f2b3a;
    --secondary-foreground: #1a0f2b;

    --tertirary: #a1a3b3;
    --tertirary-foreground: #1a0f2b;

    --helper-primary: #b3a1c2;
    --helper-primary-foreground: #1a0f2b;

    --helper-secondary: #7a5c7a;
    --helper-secondary-foreground: #1a0f2b;

    --muted: #3f2b3a;
    --muted-foreground: #a0a0a0;

    --accent: #3f2b3a;
    --accent-foreground: #1a0f2b;

    --destructive: #a14c4c;
    --destructive-foreground: #1a0f2b;

    --border: #3f2b3a;

    --input: #3f2b3a;

    --ring: #000000;

    --chart-1: #f2c94c;
    --chart-2: #2bc3a0;
    --chart-3: #4f5c5e;
    --chart-4: #b3c43c;
    --chart-5: #e4d84c;
    --radius: 0.5rem;
    --sidebar-background: #fff;
    --sidebar-foreground: #1a0f2b;

    --sidebar-primary: #1a0f2b;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f2f2f2;
    --sidebar-accent-foreground: #1a0f2b;
    --sidebar-border: #e0e0e0;
    --sidebar-ring: #d0d0d0;
  }
  .dark {
    --background: #1a1a1a;

    --background-support: #343a40;

    --foreground: #1a0f2b;

    --card: #1a1a1a;
    --card-foreground: #1a0f2b;

    --popover: #1a1a1a;
    --popover-foreground: #1a0f2b;

    --primary: #1a0f2b;
    --primary-foreground: #000000;

    --secondary: #3f2b3a;
    --secondary-foreground: #1a0f2b;

    --tertirary: #a1a3b3;
    --tertirary-foreground: #1a0f2b;

    --helper-primary: #b3a1c2;
    --helper-primary-foreground: #1a0f2b;

    --helper-secondary: #7a5c7a;
    --helper-secondary-foreground: #1a0f2b;

    --muted: #3f2b3a;
    --muted-foreground: #a0a0a0;

    --accent: #3f2b3a;
    --accent-foreground: #1a0f2b;

    --destructive: #a14c4c;
    --destructive-foreground: #1a0f2b;

    --border: #3f2b3a;

    --input: #3f2b3a;

    --ring: #d0d0d0;

    --sidebar-background: #1a1a1a;

    --sidebar-foreground: #f2f2f2;

    --sidebar-primary: #3a3a3a;

    --sidebar-primary-foreground: #ffffff;

    --sidebar-accent: #3a3a3a;

    --sidebar-accent-foreground: #f2f2f2;

    --sidebar-border: #3a3a3a;

    --sidebar-ring: #d0d0d0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
